.game-root {
    -fx-background-color: #faf8ef;
}


.game-button {
  -fx-background-color: #cdc1b4;
}

.game-button-road {
    -fx-background-color: #586069;
}

.game-button-pedestrian{
    -fx-background-color: #f1e05a;
}

.game-button-agent{
    -fx-background-color: #ee6e73;
    -fx-background-image: url("agent.png");
    -fx-background-position: center;
}

.game-button-car{
    -fx-background-color: cornflowerblue;
    -fx-background-image: url("car.png");
    -fx-background-position: center;
}